#booking-form {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    background-color: #495E57;
    padding: 40px 0;
}

#booking-form h1 {
    grid-column: 3/7;
    margin-top: -20px;
    margin-bottom: 0;
}

#booking-form h2 {
    grid-column: 3/7;
    margin-top: -20px;
}

label[for="res-date"]{
    grid-column: 3/5;
    grid-row: 3;
    margin-top: -20px;
}

#res-date {
    grid-column: 3/5;
    grid-row: 4;
}

label[for="res-time"]{
    grid-column: 5/7;
    grid-row: 3;
    margin-top: -20px;
}

#res-time {
    grid-column: 5/7;
    grid-row: 4;
    margin-bottom: 5px;
}

#guests, label[for="guests"], #occasion, label[for="occasion"] {
    grid-column: 3/7;
}

label[for="guests"] {
    grid-row: 6;
}

#guests {
    grid-row: 7;
    margin-bottom: 5px;
}

label[for="occasion"]{
    grid-row: 8;
}

#occasion {
    margin-bottom: 20px;
    grid-row: 9;
}

input[role="submit"]{
    grid-column: 3/5;
    grid-row: 10;
}

input[role="submit"]:disabled {
    background-color: gray;
    color:darkgray;
}

input[role="submit"]:disabled:hover {
    border: gray;
    color:darkgray;
    cursor: not-allowed;
}

form img {
    grid-column: 8/11;
    grid-row: 1/11;
    align-self: center;
    justify-self: center;
    width: 200px;
}

form p {
    display: none;
    color: red;
    margin-top: -2px;
    margin-bottom: 30px;
}

#date-error {
    grid-column: 3/5;
    grid-row: 5;
    height: 10px;
}

#time-error {
    grid-column: 5/7;
    grid-row: 5;
    height: 10px;
}
