.Footer {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    column-gap: 20px;
    height: 298px;
    align-items: start;
    margin-top: 0;
}

hr {
    height: 1px;
    width: 100%;
    color: black;
    grid-column: 3/11;
    margin-top: 0;
}

.Footer img {
    grid-column: 3/5;
    width: 115px;
    height: 203px;
}

.Footer ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin-top: -20px;
}

#doormat-nav {
    grid-column: 5/7;
}

#contact-links {
    grid-column: 7/9;
}

#social-links {
    grid-column: 9/11;
}

.Footer .Section-Title {
    color: #495E57;

}

.Footer ul li {
    margin-bottom: 5px;
}