header{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    column-gap: 20px;
    height: 105px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(0);
    transition-property: "transform";
    transition-duration: ".3s";
    transition-timing-function: "ease-in-out";
    background-color: white;
    border-bottom: black solid 1px;
}

#header-img {
    grid-column: 3/5;
}

@media only screen and (max-width: 930px) {
    #header-img {
        grid-row: 1;
        grid-column: 1/-1;
        justify-self: center;
    }
}