#hero-section {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 10% 80% 10%;
    column-gap: 20px;
    background-color: #495E57;
    align-items: start;
}

#hero-text {
    grid-column: 3/7;
    grid-row: 2;
    display: grid;
    grid-template-rows: 20% 10% 50% 20%;
    height: 100%;
}

#hero-text h1 {
    margin: 0;
}

#hero-text h2 {
    margin: 0;
}

#hero-text p {
    color: #EDEFEE;
}

#hero-text button {
    align-self: start;
}

#hero-section img {
    grid-column: 8/11;
    grid-row: 2;
    justify-self: end;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}