.Highlights {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: 20% 80%;
    gap: 20px;
    height: 761px;
    margin-top: 100px;
}

.Highlights h1 {
    grid-column: 3/9;
    grid-row: 1/1;
    align-self: center;
    color: black;
}

.Highlights button:first-of-type {
    grid-column: 9/11;
    grid-row: 1/1;
    align-self: center;
}

.Highlights .CardSection {
    grid-column: 3/11;
    grid-row: 2/2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}