nav {
    list-style: none;
    grid-column: 5/11;
}

nav ul {
    display: flex;
    gap: 3vw;
    list-style: none;
    font-weight: Medium;
    font-size: 18px;
    text-wrap: nowrap;
    justify-content: end;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    text-decoration: underline dotted;
    text-underline-offset: 3px;
}

.nav-link:visited {
    color: black;
}

@media only screen and (max-width: 1200px) {
    nav ul {
        gap: 1vw;
    }
}

@media only screen and (max-width: 930px) {
    nav {
        grid-row: 2;
        grid-column: 1/-1;
    }

    nav ul {
        justify-content: space-evenly;
    }
}