.Testimonials {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    column-gap: 20px;
    grid-template-rows: .3fr .8fr;
    height: 488px;
    background-color: #495E57;
}

.Testimonials h1 {
    grid-column: 5 / 9;
    grid-row: 1;
    justify-self: center;
    align-self: end;
}

.Testimonials Section {
    grid-column: 3/11;
    grid-row: 2;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

